div.sidebar, div.clear,
div.sidebarwrapper,
span.teletype-cursor,
div.footer, #toccontainer, .category_control {
    display: none;
}

div.document {
    width: 100%;
    margin: 0 auto 0 auto;
}

div.bodywrapper {
    margin: 0;
}

.teletype {
    overflow-x: hidden;
    overflow-y: visible;
    height: auto !important;
    width: 96% !important;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.teletype-result {
    font-style: italic;
}
