div.sidebar, div.clear,
div.sidebarwrapper,
span.teletype-cursor,
div.footer, #toccontainer, .category_control {
    display: none;
}

div.document {
    width: 100%;
    margin: 0 auto 0 auto;
}

div.bodywrapper {
    margin: 0;
}

.teletype {
    background: #fff;
    overflow-x: hidden;
    overflow-y: visible;
    height: auto !important;
    width: 96% !important;
}

p.teletype-result {
    background: #ff0000;
}
