{{ define "main" -}}
    {{ $baseurl := .Site.BaseURL }} 
	<ul>
    {{- range $name, $page := .Data.Pages.ByDate.Reverse -}} 
	    {{ if in .Site.Params.listpages .Type -}}
		    <li class="spread">
				{{- if (isset $page.Params "directlink") -}}
				<a href="{{ $page.Params.directlink }}">{{- $page.Title -}}</a>
				{{- else -}}
				<a href="{{ .Permalink }}">{{- $page.Title -}}</a>
				{{- end }}
			    <time>({{- $page.Date.Format "Mon, Jan 2, 2006" -}})</time>
			    {{ with $page.Params.news -}} [{{ delimit (apply (apply (sort .) "partial" "news" ".") "chomp" ".") ", " }}] {{- end -}}
			    <br/>
				<span class="info">
			    {{- markdownify $page.Summary -}}{{ if .Truncated }}...{{- end -}}
				</span>
		    </li>
	    {{- end -}}
	{{- end }}
	</ul>
{{- end }}
      