{{ define "main" -}}
    {{ $baseurl := .Site.BaseURL }} 
	<ul>
    {{- range $name, $page := .Data.Pages.ByDate.Reverse -}} 
	    {{ if in .Site.Params.listpages .Type -}}
		    <li>
		        <a href="{{ .Permalink }}">{{- $page.Title -}}</a>
			    <time>({{- $page.Date.Format "Mon, Jan 2, 2006" -}})</time>
			    {{ with $page.Params.news -}} [{{ delimit (apply (apply (sort .) "partial" "news" ".") "chomp" ".") ", " }}] {{- end -}}
			    <br/>
			    {{- plainify $page.Summary -}}{{ if .Truncated }}...{{- end -}}
		    </li>
	    {{- end -}}
	{{- end }}
	</ul>
{{- end }}
      