{{- $id := (.Get "id") -}}
{{- $branch := delimit (slice "?ref=" (.Get "branch" | default "master")) "" | string -}}
{{- $file := getJSON "https://api.github.com/repos/" (.Get "user") "/" (.Get "repo") "/contents/" (.Get "file") $branch -}}

<script>
jQuery(function() {

	jQuery({{- $id -}}).click(function() {

			var l_zip = new JSZip();
			l_zip.file( "lightjason/pom.xml", Mustache.render( {{- $file.content | base64Decode -}}, { {{- .Inner | safeJS -}} } ) );
			l_zip.generateAsync({ type: "blob" }).then( function(p_blob) { saveAs( p_blob, "lightjason.zip" ); } );

	});

} );
</script>
