{{- $file := getJSON "https://api.github.com/repos/" (.Get 0) "/" (.Get 1) "/contents/" (.Get 2) -}}
{{- $codetype := .Get 3 -}}
{{- $prefix := index .Params 6 | default "" -}}
{{- $postfix := index .Params 7 | default "" -}}

{{- if index .Params 4 -}}

    {{- $result := findRE (.Get 4) ($file.content | base64Decode) (index .Params 5 | default 1 | int) -}}
    {{- range $result -}}
        <pre class="language-{{- $codetype -}} code-toolbar"><code class="language-{{- $codetype -}}">
{{- $prefix}}
{{ . }}
{{ $postfix -}}
        </code></pre>
    {{- end -}}

{{- else -}}

    <pre class="language-{{- $codetype -}} code-toolbar"><code class="language-{{- $codetype -}}">
{{- $prefix }}
{{ $file.content | base64Decode }}
{{ $postfix -}}
    </code></pre>

{{- end -}}

