{{- $filter := .Get "filter" -}}
{{- $zip := .Get "zip" -}}
{{- $targz := .Get "targz" -}}
{{- range $item := (split (.Get "names" | default "") ",") -}}
    {{- $element := split $item "=" -}}
    {{- $.Scratch.Add (index $element 0) (index $element 1) -}}
{{- end -}}

{{- $releases := getJSON "https://api.github.com/repos/" (.Get "user") "/" (.Get "repo") "/releases" -}}

{{- $.Scratch.Add "notfound" true -}}
<ul>
{{- range $release := $releases -}}
    {{- if and ($.Scratch.Get "notfound") (in .name $filter) -}}
        {{- $.Scratch.Set "notfound" false -}}

        {{- range $asset := $release.assets -}}
            <li><a href="{{- $asset.browser_download_url -}}">{{- if ($.Scratch.Get $asset.name) -}}{{- $.Scratch.Get $asset.name -}}{{- else -}}{{- $asset.name -}}{{- end -}}</a></li>
        {{- end -}}

        {{- if $zip -}}
            <li><a href="{{- $release.zipball_url -}}">{{- if ($.Scratch.Get "zip") -}}{{- $.Scratch.Get "zip" -}}{{- else -}}Zip Source{{- end -}}</a></li>
        {{- end -}}

        {{- if $targz -}}
            <li><a href="{{- $release.tarball_url -}}">{{- if ($.Scratch.Get "targz") -}}{{- $.Scratch.Get "targz" -}}{{- else -}}Tar-GZip Source{{- end -}}</a></li>
        {{- end -}}

   {{- end -}}     
{{- end -}}
</ul>
