{{- $codetype := .Get "lang" -}}
{{- $prefix := (.Get "prefix") | default "" -}}
{{- $postfix := (.Get "postfix") | default "" -}}
{{- $branch := delimit (slice "?ref=" (.Get "branch" | default "master")) "" | string -}}
{{- $id := (.Get "id") -}}

{{- $file := getJSON "https://api.github.com/repos/" (.Get "user") "/" (.Get "repo") "/contents/" (.Get "file") $branch -}}

{{- if .Get "filter" -}}

    {{- $result := findRE (.Get "filter") ($file.content | base64Decode) (.Get "result" | default 1 | int) -}}
    {{- range $result -}}
        <pre class="language-{{- $codetype -}}" {{ if $id }}id="{{ $id }}"{{ end }} {{ if eq $codetype "agentspeak" -}}data-language="AgentSpeak(L++)"{{- end }}><code class="language-{{- $codetype -}}">
{{- $prefix }}
{{ . }}
{{ $postfix -}}
        </code></pre>
    {{- end -}}

{{- else -}}

    <pre class="language-{{- $codetype -}}" {{ if $id }}{{ $id }}{{ end }} {{ if eq $codetype "agentspeak" -}}data-language="AgentSpeak(L++)"{{- end }}><code class="language-{{- $codetype -}}">
{{- $prefix }}
{{ $file.content | base64Decode }}
{{ $postfix -}}
    </code></pre>

{{- end -}}

