<p class="publicationform">
        <label for="search">Search by title / series / publisher / editor / author: </label> <input type="text" id="search" />
        <input type="radio" id="and" name="search" checked /><label for="and">AND</label> <input type="radio" id="or" name="search" /><label for="or">OR</label><br/>
        BibTeX export:
        <a class="link" id="giveall" title="copy shown publications to clipboard" >&#128203; shown publications</a> | 
        <a class="link" href="/references.bib" title="download all publications">&#128190; all publications</a>
</p>
<br/>

<ol id="publication"></ol>