{{- $generateid := (.Get "generateid") -}}
{{- $wizardid := (.Get "wizardid") -}}
{{- $user := .Get "user" -}}
{{- $repo := .Get "repo" -}}
{{- $branch := delimit (slice "?ref=" (.Get "branch" | default "master")) "" | string -}}
{{- $inner := .Inner | safeJS -}}

<script>
jQuery(function() {

	/**
     * define wizard
     * @see http://search.maven.org/solrsearch/select?q=g:%22org.lightjason.agentspeak%22&core=gav
     */
    jQuery({{- $wizardid -}}).steps({ 
        headerTag: "h3",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        enableFinishButton: true,
        enablePagination: false,
        enableAllSteps: true,
        titleTemplate: "#title#",
        cssClass: "tabcontrol",
        onStepChanging: function(p_event, p_current, p_new) {
            
            var l_result = true;
            jQuery(this).find("section:nth(" + p_current + ")").find(".required").each(function() {
                l_result = l_result && ( jQuery(this).val().trim().length > 0 );
                if ( jQuery(this).val() == "")
                    jQuery(this).addClass("error");
                else
                    jQuery(this).removeClass("error");
            } );
            return l_result;
        }
     });

	jQuery({{- $generateid -}}).click(function() {

            var keytoupper = function( p_object ) { var lo = {}; Object.keys( p_object ).forEach( function( i ) { lo[i.toUpperCase()] = p_object[i]; } ); return lo; }
            var replacewithkey = function( p_string, p_object ) { var lc = p_string; Object.keys( p_object ).forEach( function( i ) { lc = lc.replace(i, p_object[i], "g" ); } ); return lc; }


            var l_configuration = { {{- $inner -}} };
            l_configuration = jQuery.extend( {}, l_configuration, keytoupper(l_configuration) );


            var l_zip = new JSZip();

            {{ range $filename := (split (.Get "file") ",") }}
                {{- $file := getJSON "https://api.github.com/repos/" $user "/" $repo "/contents/" $filename $branch -}}
                l_zip.file( l_configuration.prefix + "/" + replacewithkey( {{- $filename -}}, l_configuration ), Mustache.render( {{- $file.content | base64Decode -}}, l_configuration ) );
            {{ end }}
			
			l_zip.generateAsync({ type: "blob" }).then( function(p_blob) { saveAs( p_blob, l_configuration.prefix + ".zip" ); } );

	});

} );
</script>
