    body {
        font-family: Pridi, serif;
        font-size: 18px;
        background-color: white;
        color: #3E4349;
        margin: 0;
        padding: 0;
    }

    a {
        color: #3782BE;
        text-decoration: underline;
    }

    hr {
        border: 1px solid #B1B4B6;
    }

    ul, ol {
        margin: 10px 0 10px 30px;
        padding: 0;
    }

    blockquote:before {
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }

    blockquote {
        background: #f9f9f9;
        border-left: 10px solid #ddd;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
    }

    blockquote p {
        display: inline;
    }

    svg {
        display: block;
        padding: 5px;
        margin: 0 auto;
    }

    img[src$='#centering'] {
        display: block;
        padding: 5px;
        margin: 0 auto;
    }

    img[src$='#floatleft'] {
        float: left;
    }

    img[src$='#floatright'] {
        float: right;
    }

    img[src$='#contact'] {
        float: right;
        width: auto;
        height: 80px;
        overflow: hidden;
    }





    div.document {
        width: 85%;
        margin: 30px auto 0 auto;
    }

    div.sidebar {
        float: left;
        width: 260px;
        margin-left: -102%;
        font-size: 14px;
        line-height: 1.5;
        color: #444;
    }

    div.sidebar a {
        color: #444;
        text-decoration: none;
        border-bottom: 1px dotted #999;
    }

    div.sidebar a:hover {
        border-bottom: 1px solid #000;
    }

    div.sidebar ul {
        list-style: none;
        margin: 10px 0;
        padding: 0;
        color: #000;
    }

    div.sidebar ul li {
        font-size: 120%;
    }

    div.sidebarwrapper {
        padding: 0 10px;
        text-align: center;
    }

    div.sidebarwrapper ul {
        text-align: left;
    }

    div.sidebarwrapper .logo a {
        font-size: 2.15em;
        font-weight: bolder;
    }

    div.sidebarwrapper .logo .subtitle {
        padding-top: 0.5em;
        padding-bottom: 1em;
    }

    div.documentwrapper {
        float: left;
        width: 100%;
    }

    div.bodywrapper {
        margin: 0 0 0 220px;
    }


    div.body {
        padding: 0 30px 0 30px;
    }

    div.footer {
        width: 85%;
        margin: 20px auto 30px auto;
        font-size: 14px;
        text-align: right;
        color: #888;
    }

    div.footer a {
        color: #888;
    }



    div.body h1, div.body h1 a,
    div.body h2, div.body h2 a,
    div.body h3, div.body h3 a,
    div.body h4, div.body h4 a,
    div.body h5, div.body h5 a,
    div.body h6, div.body h6 a {
        margin: 30px 0px 10px 0px;
        padding: 0;
        color: #3E4349;
        text-decoration: none;
    }

    div.body h1 { margin-top: 0; padding-top: 0; font-size: 240%; }
    div.body h2 { font-size: 180%; }
    div.body h3 { font-size: 150%; }
    div.body h4 { font-size: 130%; }
    div.body h5 { font-size: 100%; }
    div.body h6 { font-size: 100%; }

    div.body h2::after {
        content: "";
        display: block;
        height: 1px;
        width: 40%;
        background: #9f9f9f;
    }

    div.body p, div.body dd, div.body li {
        line-height: 1.4em;
    }


    .contact {
        float: left;
        text-align: left;
    }

    ul.horizontal li {
        display: inline;
        padding: 0.75em;
    }

    #nav {
        display: none;
    }

    .info {
        font-size: 90%;    
    }

    .footnotes {
        font-size: 75%;
    }

    .category_control {
        display: block;
        float: right;
        font-size: 75%;
    }

    .spread {
        padding-top: 0.75em;
        padding-bottom: 0.75em;
    }

    #toccontainer {
        display: block;
        border: 1px solid #a2a9b1;
        background-color: #f8f9fa;
        font-size: 90%;
        width: 35%;
        text-align: center;
    }

    #toc {
        text-align: left;
    }

    #toc ul, h1 {
        counter-reset: section;
        list-style: none;
    }

    .toc-h2, h2 {
        counter-increment: section;
        counter-reset: subsection;
    }

    .toc-h2::before, h2::before {
        content: counter(section) ". ";    
    }

    .toc-h3, h3 {
        margin-left: 1em;
        counter-increment: subsection;
        counter-reset: subsubsection;
    }

    .toc-h3::before, h3::before {    
        content: counter(section) "." counter(subsection) ". ";
    }

    .toc-h4, h4 {
        margin-left: 2em;
        counter-increment: subsubsection;
    }

    .toc-h4::before, h4::before {    
        content: counter(section) "." counter(subsection) "." counter(subsubsection) ". ";
    }

@media only screen and (max-width: 1000px) {

    code {
        font-size: 75%;
    }

    .subtitle,
    div.footer, #toccontainer {
        display: none;
    }

    .category_control {
        margin-top: -1.5em;
    }

    div.document {
        width: 100%;
        margin: 0 auto 0 auto;
    }

    div.body h1 { margin-top: 0; padding-top: 0.5em; font-size: 160%; }
    div.body h2 { font-size: 140%; }
    div.body h3 { font-size: 130%; }
    div.body h4 { font-size: 110%; }
    div.body h5 { font-size: 100%; }
    div.body h6 { font-size: 100%; }

    #nav {
        position: absolute;
        top: 0.5em;
        right: 1em;
        z-index: 2;
        display: inline;
        font-size: 26px;
    }

    div.sidebar { 
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #333;
        overflow-x: hidden;
        padding-top: 15px;
        transition: 0.5s; 
        font-size: 100%;
    }

    div.sidebar ul {
        padding-top: 1.5em;
    }

    div.sidebar li {
        padding-top: 0.75em;
        padding-bottom: 0.75em;
    }

    div.sidebar a {
        color: #fff;
    }

    div.bodywrapper {
        margin: 0;
    }

    .sublink {
        color: #fff;
    }
}


@media print {

    div.sidebar, div.clear,
    div.sidebarwrapper,
    div.footer, #toccontainer, .category_control {
        display: none;
    }

    div.document {
        width: 100%;
        margin: 0 auto 0 auto;
    }

    div.bodywrapper {
        margin: 0;
    }

}