@import url("alabaster.css");

img[src$='#floatleft']
{
	float: left;
}

img[src$='#floatright']
{
	float: right;
}

pre{
	background: transparent;
}

ul.horizontal {
    padding: 0;
}

.contact
{
	float: left;
}

.linkcopyright
{
	float: right;
}

ul.horizontal li {
    display: inline;
	padding: 0.75em;
}

.footnotes
{
	font-size: 75%;
}
