body {
    font-family: Pridi, serif;
    font-size: 18px;
    background-color: white;
    color: #000;
    margin: 0;
    padding: 0;
}

div.document {
    width: 75%;
    margin: 30px auto 0 auto;
}

div.sphinxsidebar {
    float: left;
    width: 230px;
    margin-left: -100%;
    font-size: 90%;
}

div.sphinxsidebar ul {
    list-style: none;
}

div.documentwrapper {
    float: left;
    width: 100%;
}

div.bodywrapper {
    margin: 0 0 0 220px;
}

div.sphinxsidebar {
    width: 220px;
}

div.clearer {
    clear: both;
}

hr {
    border: 1px solid #B1B4B6;
}

div.body {
    color: #3E4349;
    padding: 0 30px 0 30px;
}

div.footer {
    width: 75%;
    margin: 20px auto 30px auto;
    font-size: 14px;
    color: #888;
    text-align: right;
}

div.footer a {
    color: #888;
}

div.sphinxsidebar a {
    color: #444;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}

div.sphinxsidebar a:hover {
    border-bottom: 1px solid #999;
}

div.sphinxsidebar {
    font-size: 14px;
    line-height: 1.5;
}

div.sphinxsidebarwrapper {
    padding: 18px 10px;
    text-align: center;
}

div.sphinxsidebarwrapper ul {
    text-align: left;
}

div.sphinxsidebarwrapper p.logo {
    padding: 0;
    margin: -10px 0 0 0px;
}

div.sphinxsidebarwrapper h1.logo {
    margin-top: -10px;
    margin-bottom: 5px;
}

div.sphinxsidebarwrapper h1.logo-name {
    margin-top: 0px;
}

div.sphinxsidebar p.logo a,
div.sphinxsidebar h3 a,
div.sphinxsidebar p.logo a:hover,
div.sphinxsidebar h3 a:hover {
    border: none;
}

div.sphinxsidebar p {
    color: #555;
    margin: 10px 0;
}

div.sphinxsidebar ul {
    margin: 10px 0;
    padding: 0;
    color: #000;
}

div.sphinxsidebar ul li.toctree-l1 > a {
    font-size: 120%;
}

a {
    color: #3782BE;
    text-decoration: underline;
}

a:hover {
    color: #3782BE;
    text-decoration: underline;
}

div.body h1, div.body h1 a,
div.body h2, div.body h2 a,
div.body h3, div.body h3 a,
div.body h4, div.body h4 a,
div.body h5, div.body h5 a,
div.body h6, div.body h6 a {
    margin: 30px 0px 10px 0px;
    padding: 0;
    color: #3E4349;
    text-decoration: none;
}

div.body h1 { margin-top: 0; padding-top: 0; font-size: 240%; }
div.body h2 { font-size: 180%; }
div.body h3 { font-size: 150%; }
div.body h4 { font-size: 130%; }
div.body h5 { font-size: 100%; }
div.body h6 { font-size: 100%; }

div.body h2::after {
    content: "";
    display: block;
    height: 1px;
    width: 40%;
    background: #9f9f9f;
}

div.body p, div.body dd, div.body li {
    line-height: 1.4em;
}

ul, ol {
    margin: 10px 0 10px 30px;
    padding: 0;
}

a.reference {
    text-decoration: none;
    border-bottom: 1px dotted #3782BE;
}

a.reference:hover {
    border-bottom: 1px solid #3782BE;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ddd;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote:before {
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

img[src$='#centering'] {
    display: block;
    padding: 5px;
    margin: 0 auto;
}

svg {
    display: block;
    padding: 5px;
    margin: 0 auto;
}

img[src$='#floatcentering'] {
    display: inline-block;
    padding: 5px;
    margin: 0 auto;
}

img[src$='#floatleft'] {
	float: left;
}

img[src$='#contact'] {
	float: right;
    width: auto;
    height: 80px;
    overflow: hidden;
}

img[src$='#floatright'] {
	float: right;
}

ul.horizontal {
    padding: 0;
}

.contact {
	float: left;
    text-align: left;
}

ul.horizontal li {
    display: inline;
	padding: 0.75em;
}

.info {
    font-size: 90%;    
}

.footnotes {
	font-size: 75%;
}

.category_control {
    position: fixed;
    top: 4em;
    right: 3em;
    font-size: 75%;
}

.spread {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

code {
    border: 1px solid #B1B4B6;
}


@media print {

    div.clearer,
    div.sphinxsidebar,
    div.sphinxsidebarwrapper,
    div.footer {
        display: none;
    }

    div.document {
        width: 100%;
        margin: 0 auto 0 auto;
    }

    div.bodywrapper {
        margin: 0;
    }

}