<div class="sidebar" role="navigation" aria-label="main navigation">
	<div class="sidebarwrapper">
		<div class="logo">
			<h1 class="logo logo-name">
				<a href="{{ .Site.BaseURL }}">{{- .Site.Params.name -}}</a>
			</h1>
			{{- with .Site.Params.description -}}<span class="blurb">{{- . | markdownify -}}</span>{{- end -}}
		</div>
		
		{{- if and (ne .Site.Params.menu nil) (gt (len .Site.Params.menu) 0) -}}
		<ul>
			{{- range sort .Site.Params.menu "weight" }}
			<li>
				<a class="reference internal" href="{{ .url }}">{{- .name -}}</a>
				{{- with .sublink }}
				<span class="sublink">(<a href="{{- .url -}}">{{- .name -}}</a>)</span>
				{{- end -}}
			</li>
			{{- end -}}
		</ul>
		{{- end -}}
	</div>
</div>
<div class="clearer"></div>	