{{- if in .Params.view "publication" -}}
        {{ $baseurl := .Site.BaseURL }} 
        <ul>
        {{ range $publication := .Site.Data.references }} 

            <li class="spread">
                <a name="{{- $publication.id | plainify | urlize -}}"></a>

                {{- if (not (isset $publication "URL")) | or (eq $publication.URL "") -}}
                    {{- $publication.title -}}
                {{- else -}}
                    <a href="{{ $publication.URL }}">{{- $publication.title -}}</a>
                {{- end }}
            
                {{ delimit (apply (apply  $publication.author "partial" "author" ".") "chomp" ".") ", " }}

                {{- if (isset $publication "collection-title") | and (not (eq (index $publication "collection-title") "")) | and (isset $publication "container-title") | and (not (eq (index $publication "container-title") "")) }}  
                    in {{ index $publication "collection-title" }} - {{ index $publication "container-title" }}
                {{- else -}}
                    ,     
                {{ end -}}
                
                {{- if (isset $publication "page") | and (not (eq $publication.page "")) }}    
                    (page {{ $publication.page -}}), 
                {{ end -}}

                {{- if (isset $publication "number") | and (not (eq $publication.number "")) }}    
                    {{ $publication.number -}}, 
                {{ end -}}

                {{ $publication.publisher }} ({{- index $publication "publisher-place" -}})

                {{- if (isset $publication "note") | and (not (eq $publication.note "")) }}
                    <a href="{{ $baseurl }}publication/{{ $publication.note | urlize }}">[...]</a>
                {{ end -}}
            </li>
        {{ end }}
        </ul>
{{ end }}        
