{{- if in .Params.view "publications" -}}
        {{ $baseurl := .Site.BaseURL }} 
        <ul>
        {{ range $publications := sort .Site.Data.references ".title" "desc" }} 

            <li class="spread">
                <a name="{{- $publications.id | plainify | urlize -}}"></a>

                {{- if isset $publications "URL" | and $publications.URL -}}
                    <a href="{{ $publications.URL }}">{{- $publications.title -}}</a>
                {{- else -}}
                    <a href="#">{{- $publications.title -}}</a>
                {{- end }}
            
                <br/>
                {{ delimit (apply (apply  $publications.author "partial" "author" ".") "chomp" ".") ", " }}

                <br/>
                {{- if isset $publications "collection-title" | and (index $publications "collection-title") }}  
                    {{ index $publications "collection-title" }}
                {{- else -}}
                    {{- if isset $publications "collection-title" | and (index $publications "collection-title") }}
                    -
                    {{ end }}
                    {{ if isset $publications "container-title" | and (index $publications "container-title") }}
                        {{ index $publications "container-title" }}
                    {{- end -}}
                {{ end -}}
                
                {{- if (isset $publications "page") | and (not (eq $publications.page "")) }}    
                    {{- $page :=  replaceRE "[^0-9-.]" "$1" $publications.page | chomp -}}
                    {{ if $page }}
                        page {{ $page -}}
                    {{ end }}
                {{ end -}}

                {{- if (isset $publications "number") | and $publications.number }}    
                    {{ $publications.number -}}, 
                {{ end -}}

                {{ $publications.publisher }} 
                {{ if isset $publications "publisher-place" | and (index $publications "publisher-place") }}
                    ({{- index $publications "publisher-place" -}})
                {{ end }}

                {{- if (isset $publications "note") | and (not (eq $publications.note "")) }}
                    <a href="{{ $baseurl }}publications/{{ $publications.note | urlize }}">[...]</a>
                {{ end -}}
            </li>
        {{ end }}
        </ul>
{{ end }}        
