{{ if in .Params.view "publication" }}
        {{ $baseurl := .Site.BaseURL }} 
        <ul>
        {{ range $item := getJSON "data/references.json" }} 

            <li>
                <a name="{{ $item.id | plainify | urlize }}"></a>
            
                {{ if (not (isset $item "URL")) | or (eq $item.URL "") }}
                    {{ $item.title }}
                {{ else }}
                    <a href="{{ $item.URL }}">{{ $item.title }}</a>
                {{ end }}
            
                <em>delimit ( apply $item.author $concat "." ) ", "</em>
                in {{ index $item "collection-title" }} - {{ index $item "container-title" }} (page {{ $item.page }}), 
                {{ $item.publisher }} ({{ index $item "publisher-place" }})

                {{ if (isset $item "note") | and (not (eq $item.note "")) }}
                    <a href="{{ $baseurl }}publication/{{ $item.note | urlize }}">[...]</a>
                {{ end }}
            </li>
        {{ end }}
        </ul>
{{ end }}        
